body{
	opacity: ;
	background-color: black;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-size:100% 100%;
}
header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: grey;

}
header img{
	margin-left: 35px;
	height: 90px;
	width: 90px;
	border-radius: 5px;	
}
header h1{
	margin-left: 600px;
	

}
.modelflex3 ul{
	list-style-type: none;
	margin:10px;
	padding:10px;
	background-color: yellow;
	border-radius: 10px;

}
.modelflex3 {
	padding-left: 0px;
}
.modelflex3 li{
	display: inline;
	margin: 90px;
	background-color: white;
	
}
.modelflex3 li:hover{

	background-color: red;
}
.honey h1{
	text-align: center;
	margin-top: 70px;
	color:pink;
}
.honey h3{
	text-align: center;
	color:red;
	width:390px;
	padding-left: 500px;
	margin-top: 35px;
}
.honey1{
	border-radius: none;
	text-align: center;
}
 h4{
 	margin-top: 90px;
	background-color: orange;
	width:300px;
	text-align: center;
	border-radius:5px;
	margin-left: 550px;
}

footer{
	margin-top: 150px;
	background-color: black;
	color:white;
	text-align: center;
}
@media only screen and (min-width:320px) and (max-width: 767px){
	body{
		background-color: black;
	}
}