body{
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-size:100% 100%;
	background-color:#f0f0f5;   
}
header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: grey;

}
header img{
	margin-left: 35px;
	height: 90px;
	width: 90px;
	border-radius: 5px;	
}
header h1{
	margin-left: 600px;
	

}
.modelflex3 ul{
	list-style-type: none;
	margin:0px;
	padding:0px;
	overflow:hidden;
	background-color: yellow;


}
.modelflex3 li {
	float: left;
	padding-left: 135px;
}
.modelflex3 {
	padding-left: 0px;
	text-decoration: none;
}
.modelflex3 li a{
	display: block;
	color:black;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
	
}
.modelflex3 li a:hover{

	background-color: white;
}
.gallery {
    display: flex ; 
 	flex-direction: row;
 	flex-wrap :wrap ; 
 	border:none;
 	width: 100%;
 }
 .gallery div{
 	margin-left:17px;
 	padding-left: 10px;
 	width:17%;
 }
 .gallery div img{
 	width:150px;  
 	height: 150px;  
 	border-radius: 5 px;
 }
 .gallery div h4{
 	background-color: black;
 	color:red;
 }
 footer{
	margin-top: 10px;
	background-color: black;
	color:white;
	text-align: center;
}
@media only screen and (min-width:320px) and (max-width: 767px){
	body{
		background-color: black;
	}
	header {
		width:750px;
	}
	header h1{
		margin-left: 10px;
	}
	footer h5{
		width:750px;
		background-color: blue;

	}
	.modelflex3 {
		width: 700px;
		padding:20px;
		margin-left: 0px;
	}
	.gallery{
		width:440px;
	}
	.gallery div{
		padding-left: 20px;
		width: 40px;

	}
	.gallery div img{
		padding:20px;
	}
	.gallery div h4{
		padding:20px;
	}
}