body{
	opacity: ;
	background-color: red;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-size:100% 100%;
}
header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: grey;
}
header img{
	margin-left: 35px;
	height: 90px;
	width: 90px;

	border-radius: 5px;	
}
header h1{
	margin-left: 600px;
	

}
.modelflex3 ul{
	list-style-type: none;
	margin:0px;
	padding:0px;
	overflow:hidden;
	background-color: yellow;


}
.modelflex3 li {
	float: left;
	padding-left: 135px;
}
.modelflex3 {
	padding-left: 0px;
	text-decoration: none;
}
.modelflex3 li a{
	display: block;
	color:black;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
}
.modelflex3 li a:hover{

	background-color: white;
}
.honey h1{
	text-align: center;
	margin-top: 70px;
	color:pink;
}
.honey h3{
	text-align: center;
	color:red;
	width:390px;
	padding-left: 500px;
	margin-top: 35px;
}
.honey1{
	border-radius: none;
	text-align: center;
}
 h4{
 	margin-top: 90px;
	background-color: orange;
	width:300px;
	text-align: center;
	border-radius:5px;
	margin-left: 550px;
}
h4:hover{
	transition: all 2s ease;
	opacity: 1;
}

footer{
	margin-top: 150px;
	background-color: black;
	color:white;
	text-align: center;
}
@media only screen and (min-width:320px) and (max-width: 767px){
	body{
		background-color: black;
		width:100%;
		
	}
	header{
		width: 790px;
	}
	header h1{
		margin-left: 100px;
	}
	.modelflex3{
		width:770px;
		margin-left: 10px;
	}
	footer h5{
		background-color: black;
		width:775px;
	}
	.honey h1{
		margin-left: 270px;
		width:300px;
	}
	.honey h3{
		padding-left: 200px;
	}
	h4{
		padding-left: 0px;
		margin-left: 210px;
	}
	
}