body{
	opacity: ;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-size:100% 100%;
	background-color: #d9d9d9;
}
header{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: grey;

}
header img{
	margin-left: 35px;
	height: 90px;
	width: 90px;
	border-radius: 5px;	
}
header h1{
	margin-left: 600px
	

}
.modelflex3 ul{
	list-style-type: none;
	margin:0px;
	padding:0px;
	overflow:hidden;
	background-color: yellow;


}
.modelflex3 li {
	float: left;
	padding-left: 135px;
}
.modelflex3 {
	padding-left: 0px;
	text-decoration: none;
}
.modelflex3 li a{
	display: block;
	color:black;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
}
.modelflex3 li a:hover{

	background-color: white;
}
footer{
	margin-top: 0px;
	background-color: black;
	color:white;
	text-align: center;
}
.slide form{
	background-color:pink;
	margin:50px;
	width: 250px;
	border-radius: 10px;
	margin-left: 500px;
	transition: 2s;
}
.slide form button{
	background-color: black;
	width:200px;
	color: white;
}
@media only screen and (min-width:320px) and (max-width: 767px){
	body{
		background-color: #000000
;
	
	}
	header{
		width:820px;
	}
	header h1{
		margin-left: 200px;
	}
	.modelflex3{
		width:810px;
	}
	.slide {
		width:100px;
		margin-left: -50px;
	}
	footer h5{
		width:870px;
		background-color: blue;
	}
	.slide form button{
		background-color: blue;
		width: 250px;
		color:red;
	}
}












































}
.slide form{
	margin-top: 0px;
}
